In [1]:
import pandas as pd

In [20]:
seasonality = 'NSA'
metro = 'Boston'
raw_data = pd.read_csv(
    'https://raw.githubusercontent.com/charleyferrari/CUNY_DATA608/master/lecture3/Sample%20Code/hpi.csv')
filtered_data = raw_data.loc[(raw_data['Seasonality'] == seasonality) & (raw_data['Metro'] == metro),
                             ['DATE', 'Tier', 'HPI']]

In [21]:
filtered_data

         DATE  Tier     HPI
1650   1/1/93  High   64.61
1651   2/1/93  High   64.42
1652   3/1/93  High   64.30
1653   4/1/93  High   64.37
1654   5/1/93  High   64.89
1655   6/1/93  High   65.83
1656   7/1/93  High   66.70
1657   8/1/93  High   67.29
1658   9/1/93  High   67.33
1659  10/1/93  High   67.12
1660  11/1/93  High   67.10
1661  12/1/93  High   67.27
1662   1/1/94  High   67.56
1663   2/1/94  High   67.46
1664   3/1/94  High   67.61
1665   4/1/94  High   68.35
1666   5/1/94  High   68.65
1667   6/1/94  High   69.65
1668   7/1/94  High   70.02
1669   8/1/94  High   70.49
1670   9/1/94  High   70.72
1671  10/1/94  High   70.85
1672  11/1/94  High   70.75
1673  12/1/94  High   70.32
1674   1/1/95  High   70.38
1675   2/1/95  High   70.25
1676   3/1/95  High   70.29
1677   4/1/95  High   69.94
1678   5/1/95  High   70.47
1679   6/1/95  High   71.50
...       ...   ...     ...
2995   6/1/13   Low  183.82
2996   7/1/13   Low  185.34
2997   8/1/13   Low  186.44
2998   9/1/13   Low  185.42
2999  10/1/13   Low  186.35
3000  11/1/13   Low  186.20
3001  12/1/13   Low  186.64
3002   1/1/14   Low  185.77
3003   2/1/14   Low  185.14
3004   3/1/14   Low  189.95
3005   4/1/14   Low  192.98
3006   5/1/14   Low  196.07
3007   6/1/14   Low  198.06
3008   7/1/14   Low  199.47
3009   8/1/14   Low  199.47
3010   9/1/14   Low  198.44
3011  10/1/14   Low  198.75
3012  11/1/14   Low  198.46
3013  12/1/14   Low  201.13
3014   1/1/15   Low  200.47
3015   2/1/15   Low  199.87
3016   3/1/15   Low  200.28
3017   4/1/15   Low  202.23
3018   5/1/15   Low  206.24
3019   6/1/15   Low  210.13
3020   7/1/15   Low  212.35
3021   8/1/15   Low  214.59
3022   9/1/15   Low  214.20
3023  10/1/15   Low  214.23
3024  11/1/15   Low  211.64

[825 rows x 3 columns]